
body{
	margin-top:50px;
}

#logo {
	height: 30px;
}

#main-container {
	max-width: 800px;
}

#login-nav {
	margin-right: 10px;
}

.container {
	max-width: 100%;
}

.navbar-brand > img {
	display: inline;
}

.navbar-brand {
	padding: 10px 20px;
}

.header {
	margin-bottom: 20px;
}

.avatar {
  background-color: #6BB3F2;
  height: 30px;
  width: 30px;
  display: block;
  border-radius: 50%;
  position: relative;
  margin-right: 20px;
  margin-top: 9px;
}