.container {
	max-width: 730px;
}

input[type=radio] {
  display: none;
}


/*
Avatar radio button styling
Taken from http://stackoverflow.com/questions/26531642/creating-a-custom-checkbox-with-css-bootstrap
*/
/*
- Style each label that is directly after the input
- position: relative; will ensure that any position: absolute children will position themselves in relation to it
*/
input[type=radio] + label {
  /*background: url(http://lorempixel.com/output/people-q-c-50-50-1.jpg) no-repeat;*/
  background-color: black;
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 50%;
  position: relative;
  transition: all 0.4s;
  border: solid 5px #FFF;
  box-shadow: 0 0 1px #FFF; /* Soften the jagged edge */
}

/* Provide a border when hovered and when the checkbox before it is checked */
input[type=radio] + label:hover,
input[type=radio]:checked + label {
  border: solid 5px #5cb85c;
  box-shadow: 0 0 1px #5cb85c; /* Soften the jagged edge */
}

/*
- Create a pseudo element :after when checked and provide a tick
- Center the content
*/
input[type=radio]:checked + label:after {
  content: '\2714'; /*content is required, though it can be empty - content: '';*/
  display: block;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  color: #5cb85c;
}