{% extends "base.html" %}
{% block body %}
    <link rel="stylesheet" href="/static/css/login.css">

    {% if message != None %}
    <div class="alert alert-{{type}}" role="alert">{{message}}</div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">User Login</div>
        <div class="panel-body">
            <p class="lead">Welcome to flashcards, a tool for language learning.</p>
            <form method="post" action="/submit_login">
                <input class="form-control" type="text" name="username" placeholder="Username"/><br />
                <input class="form-control" type="password" name="password" placeholder="Password"/><br />
                <input class="btn btn-success" type="submit" value="Login"/>
                <a href="/signup" class="btn btn-primary">Sign up</a>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Statistics</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Number of Users</dt><dd>{{usercount.count}}</dd>
                <dt>Number of Sets</dt><dd>{{setcount.count}}</dd>
                <dt>Number of Flashcards</dt><dd>{{cardcount.count}}</dd>
                <dt>Supported Languages</dt><dd>{{langcount.count}}</dd>
                <dt>Number of Categories</dt><dd>{{catcount.count}}</dd>
            </dl>
        </div>
    </div>
{% endblock %}