{% extends "base.html" %}
{% block body %}
    <link rel="stylesheet" href="/static/user.css">

    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted">flashcards - Hello {{user}}!</h3>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">Your Sets</div>
                    <div class="panel-body">
                        <a class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Set</a>
                    </div>

                    <ul class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">My first set</h4>
                            <p class="list-group-item-text">This is my first set.</p>
                            <p class="list-group-item-text">Language: English</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Vandertramp verbs</h4>
                            <p class="list-group-item-text">Learning french verbs that needs special conjugations.</p>
                            <p class="list-group-item-text">Language: French</p>
                        </a>
                    </ul>     
                </div>
            </div>
            <div class="col-md-6">
                
                <div class="panel panel-default">
                    <div class="panel-heading">Communty Sets</div>
                    <div class="panel-body">
                        Here's the rest
                    </div>     


                    <ul class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">My first set</h4>
                            <p class="list-group-item-text">This is my first set.</p>
                            <p class="list-group-item-text">Language: English</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Vandertramp verbs</h4>
                            <p class="list-group-item-text">Learning french verbs that needs special conjugations.</p>
                            <p class="list-group-item-text">Language: French</p>
                        </a>
                    </ul>     

                </div>
            </div>
        </div>
   
        <footer class="footer">
            <hr />
            <p>© flashcards</p>
        </footer>
    </div>


{% endblock %}